* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", "Fraunces", sans-serif; 
    font-size: 14px;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

.root {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: var(--Cream);
}

.card {
    height: auto;
    width: 34rem;
    background: var(--White);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
}

img {
    height: 25rem;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.info {
    padding: 1rem;
    font-family: "Montserrat";

    h1 {
        font-size: .7rem;
        font-weight: normal;
        letter-spacing: .3rem;
        color: var(--Dark-grayish-blue)
    }

    h2 {
        width: 13rem;
        font-size: 2rem;
        font-family: "Fraunces";
        font-weight: 900;
        margin: 1.1rem 0;
        line-height: 1.9rem;
    }

    p {
        color: var(--Dark-grayish-blue);
        margin: 1.5rem 0 1rem;
        line-height: 1.3rem;
        letter-spacing: .03rem;
        font-size: .85rem;
    }

    .price {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        margin: 1.5rem 0 ;

        div:first-of-type {
            font-size: 1.7rem;
            color: var(--Dark-cyan);
            font-weight: bold;
        }

        div:last-of-type {
            display: grid;
            align-items: center;
            text-decoration: line-through;
            color: var(--Dark-grayish-blue);
            font-size: .8rem;
        }
    }

    .button {
        width: 97%;
        height: 2.6rem;
        border: none;
        background: var(--Dark-cyan);
        color: var(--White);
        font-weight: bold;
        border-radius: 7px;
        cursor: pointer;

        .icon-cart {
            height: 1rem;
            margin-inline-end: .5rem;
            margin-block-end: -.1rem;
        }

    }
}

.button:hover {
    background: hsl(158, 36%, 25%);
}